<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
      </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IOrdersService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:56376/OrdersService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrdersService"
        contract="OrdersServiceReference.IOrdersService" name="BasicHttpBinding_IOrdersService" />
    </client>
  </system.serviceModel>
</configuration>