<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Abyste zabránili zveřejnění informací o metadatech, nastavte před nasazením následující hodnoty na false. -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- Pokud chcete dostávat podrobnosti o výjimce při chybách pro účely ladění, nastavte následující hodnotu na true. Před nasazením ji nastavte na false, abyste zabránili zveřejnění informací o výjimce. -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        Pokud chcete během ladění procházet kořenový adresář aplikace, nastavte následující hodnotu na true.
        Před nasazením ji nastavte na false, abyste zabránili zveřejnění informací o složce webové aplikace.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="MyCSharpDotNetEntities" connectionString="metadata=res://*/DataModels.ModelMyCSharpDotNet.csdl|res://*/DataModels.ModelMyCSharpDotNet.ssdl|res://*/DataModels.ModelMyCSharpDotNet.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ookj3vjulf.database.windows.net;initial catalog=MyCSharpDotNet;persist security info=True;user id=dbuser;password=Databa5e;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>